<nav class="navbar navbar-light bg-info">
    <span class="navbar-brand mb-0 h1">Tchat EPSI</span>
</nav>

<div class="row">
    <div class="col-5">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Votre Pseudo" aria-label="Votre Pseudo" aria-describedby="basic-addon2">
                <div class="input-group-append">
                        <a class="btn btn-outline-dark input-group-text" routerLink="/channels/1" id="basic-addon2">Connexion</a>
                </div>
            </div>
    </div>
</div>

