<div 
    *ngIf=""
    *ngFor="let message of messages"  class="card">
    <div  class="card-body">
    <p class="card-title">{{message.user}}</p>
    <p class="card-subtitle">{{message.content}}</p>
    </div>
</div>
<nav class="navbar navbar-light bg-light fixed-bottom">
    <div class="input-group mb-3">
        <input [(ngModel)]="newMessage" type="text" class="form-control" placeholder="Votre Message" aria-label="Votre Pseudo" aria-describedby="basic-addon2">
        <div class="input-group-append">
                <a (click)="sendMessage()" class="btn btn-outline-dark input-group-text" id="basic-addon2">Envoyer</a>
        </div>
    </div>
</nav>