<nav class="navbar navbar-light bg-info">
        <span class="navbar-brand mb-0 h1">Tchat EPSI</span>
</nav>
<div class="row">
    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li *ngFor="let channel of channels" class="nav-item">
            <a class="nav-link active" routerLink="/channels/{{channel.id}}" href="#">
              {{channel.name}}
            </a>
          </li>
        </ul>

      </div>
    </nav>
    <div class="col-8">
        <app-channel-messages></app-channel-messages>
    </div>
</div>
  


